/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  text-shadow:   0px 0px 0 rgb(133,38,221),
                 1px 1px 0 rgb(128,33,216),
                 2px 2px 0 rgb(123,28,211),
                 3px 3px 0 rgb(118,23,206),
                 4px 4px 0 rgb(113,18,201),
                 5px 5px 0 rgb(108,13,196),
                 6px 6px 0 rgb(103,8,191),
                 7px 7px 0 rgb(98,3,186),
                 8px 8px 0 rgb(93,-2,181),
                 9px 9px 0 rgb(88,-7,176),
                 10px 10px  0 rgb(83,-12,171),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
  font-size: 7em;

 }

body{
  margin: 40px;
  padding: 0;
}

section{
  clear: left;
  padding-top: 0;

}

p {
  border: 2px solid black;
  border-color: blueviolet;
  boder: 20px solid;
  background-color: black;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: serif;
  color: white;
  font-size: 2em;

  }


.row {
  width: 100%;
  padding: 10px;
  }

#p1, #p2, #p3{
  background-color: blueviolet;
  position: relative;
  border-style: dotted;
  font-weight: bold;
  font-size: 35px;
  margin-right: 5px;
  margin-top: 14px;
 
}


/********** Large devices **********/
@media (min-width: 992px) {

  .col-lg-1, .col-lg-2, .col-lg-3 {
    float: left;
    border: 2px solid blueviolet;
    }

  .col-lg-1 {
    width: 33.33%;
  }
  .col-lg-2 {
    width: 66.66%;
  }

  .col-lg-3 {
    width: 99.99%;
  }

  .row {
  display: flex;
  }
}


/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {

  .col-md-1, .col-md-2, .col-md-3 {
    float: left;
    border: 2px solid blueviolet;
  }

  .col-md-1 {
    width: 33.33%;
  }
  .col-md-2 {
    width: 66.66%;
  }
  .col-md-3 {
    width: 99.99%;
  }
}
