/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  text-shadow:   0px 0px 0 rgb(133,38,221),
                 1px 1px 0 rgb(128,33,216),
                 2px 2px 0 rgb(123,28,211),
                 3px 3px 0 rgb(118,23,206),
                 4px 4px 0 rgb(113,18,201),
                 5px 5px 0 rgb(108,13,196),
                 6px 6px 0 rgb(103,8,191),
                 7px 7px 0 rgb(98,3,186),
                 8px 8px 0 rgb(93,-2,181),
                 9px 9px 0 rgb(88,-7,176),
                 10px 10px  0 rgb(83,-12,171),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
  font-size: 7em;

 }

body{
  margin: 40px;
  padding: 0;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


section{
  clear: left;
  padding-top: 0;

}

p {
  border: 2px solid black;
  border-color: blueviolet;
  boder: 20px solid;
  background-color: black;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: serif;
  color: white;
  font-size: 2em;

  }


.row {
  width: 100%;
  padding: 10px;
  }

#p1, #p2, #p3{
  background-color: blueviolet;
  position: relative;
  border-style: dotted;
  font-weight: bold;
  font-size: 35px;
  margin-right: 5px;
  margin-top: 14px;
  width:100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/********** Large devices **********/
@media (min-width: 992px) {

  .col-md-4, .col-sm-6, .col-xs-12 {
    float: left;
    border: 2px solid blueviolet;
    }

  .col-md-4 {
    width: 33.33%;
  }
  .col-sm-6 {
    width: 66.66%;
  }

  .col-xs-12 {
    width: 99.99%;
  }

  .row {
  display: flex;
  }
}


/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {

  .col-md-4, .col-sm-6, .col-xs-12 {
    float: left;
    border: 2px solid blueviolet;
  }

  .col-md-4 {
    width: 33.33%;
  }
  .col-sm-6 {
    width: 66.66%;
  }
  .col-xs-12 {
    width: 99.99%;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

